{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">{{object.nome}}</h4>
      <p class="card-category">CNPJ: {{object.cnpj}}</p>
      <a href='{% url 'editar_sociedade' object.id %}'><button class="btn btn-primary">Editar</button></a>

    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="bmd-label-floating">Nome</label>
            <input type="text" class="form-control" value="{{object.nome}}" disabled>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="bmd-label-floating">CNPJ</label>
            <input type="text" class="form-control" disabled value="{{object.cnpj}}">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="bmd-label-floating">OAB</label>
            <input type="email" class="form-control" disabled value="{{object.oab}}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="bmd-label-floating">E-mail</label>
            <input type="text" class="form-control" disabled value="{{object.email}}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="bmd-label-floating">Telefone</label>
            <input type="text" class="form-control" disabled value="{{object.telefone}}">
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="bmd-label-floating">Profissao</label>
            <input type="text" disabled class="form-control" value="{{object.profissao}}">
          </div>
        </div>

      </div>
      
      <hr>
      <legend>Informações Bancárias</legend>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="bmd-label-floating">Banco</label>
            <input type="text" class="form-control" disabled value="{{object.banco}}">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="bmd-label-floating">Agência</label>
            <input type="text" class="form-control" disabled value="{{object.agencia}}">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="bmd-label-floating">Conta</label>
            <input type="text" class="form-control" disabled value="{{object.conta}}">
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

{% endblock %}